@use './functions' as f;

$header-height: f.pxToRem(34);
$toolbar-height: f.pxToRem(40);
$formula-height: f.pxToRem(24);
$info-cell-width: f.pxToRem(40);
$row-height: f.pxToRem(24);
$cell-width: f.pxToRem(120);
$db-header-height: f.pxToRem(64);
$main-color: #888;
$dark-color: #000;
$border-color: #c0c0c0;
$cell-border-color: #e2e3e3;
$outline-color: #1a73e8;
$cell-bg: #f8f9fa;
$selected-cell-outline: #3c74ff;
$list-header-color: #202124;
