@use './functions' as f;

$header-height: f.pxToRem(34);
$toolbar-height: f.pxToRem(40);
$formula-height: f.pxToRem(24);
$info-cell-width: f.pxToRem(40);
$main-color: #888;
$dark-color: #000;
$border-color: #c0c0c0;
$outline-color: #1a73e8;
